
body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
}
.container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffff ;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
}
input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}
input[type="submit"] {
    background-color: #5d5df5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    width: 50%;
    ;
    
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.error-messages {
    background-color: #ffe6e6;
    border: 1px solid #f0b4b4;
    color: #f44336;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.error-messages ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.error-messages li {
    margin-bottom: 5px;
}
